# Misc
python-dotenv
# scraping
requests
# data
pandas

# Database
## MySQl
mysql-connector-python
git+https://github.com/nono-london/mysql_helpers.git


# Setup
# https://medium.com/analytics-vidhya/how-to-create-a-python-library-7d5aea80cc3f
# https://docs.python.org/3.7/distutils/setupscript.html
twine
setuptools

# commands for setup
# python setup.py bdist_wheel
# install wheel commands
# pip install /path/to/wheelfile.whl

# Tests
# python setup.py pytest
pytest
pytest-runner



# python -m venv .venv

# python -m pip install --upgrade pip
# python.exe -m pip install --upgrade pip

# pip install -r requirements.txt
# pip install -r requirements.txt --upgrade
